.logout-box {
    display: flex;
    /* border: 1px solid black; */
    /* background-color: rgb(154, 70, 233); */
    width: 200px;
    justify-content: space-between;
}

.logout-box button {
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
}
