.center {
  text-align: center;
  padding: 10px;

  button {
    font-size: 40px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;

    &::before {
      content: "I'm ready to start";
    }

    &:hover::before {
      content: "GO!";
    }
  }
}
