.overview {
    margin: auto;
    padding: 50px;
    min-height: calc(100% - 50px);
    // background-image: url("../../public/back1.jpg");
    // background-repeat: no-repeat;
    // background-size: 500px;
    // background-position: -40px 0px;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
    
}
