.overview {
    height: calc(100% - 150px);
    
    margin: auto;
    padding: 50px;

    background-image: url("../../../../public/back_new.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}
