.header {
    height: 100px;
}

header {
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin: 0;
    padding: 5px;
    width: 100%;
}

header h1 {
    font-family: "Bradley Hand", cursive;
    color: rgb(41, 30, 30);
}

header nav {
    padding: 5px;
    padding-right: 20px;
}
