.header {
    height: 80px;
}

header {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin: 0;
    padding: 5px;
    width: 100%;
}

header h1 {
    font-family: "Bradley Hand", cursive;
    color: rgb(41, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
  text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-right: 20px;
}

.menu {
    flex-direction: column;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* background-color: #f1f1f1; */
}
.menu div {
    margin: 3px;
}

.menu a {
    display: block;
    color: #000;
    width: 80px;
}

.menu a:hover {
    /* background-color: #555; */
    color: white;
}
