.back {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    // background-image: url("../../../../public/back_new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
