html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: luminari, cursive;
    font-weight: 400;
    color: #242424;
    background-color: #d0cccc;
    backdrop-filter: blur(10px);
}

.main {
    height: 100%;
}
